html {
    box-sizing: border-box;
    height: auto;
    background-image: none;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root.dark{
    body{
        background: rgba(0, 0, 0, 0.9);
    div.second-screen-content-circles-circle{
        background: #000;
    }
    div.second-screen-content-circles-circle-capture{
        color: #ffffff;
    }
    } 
}

:root {
    body{
        background: rgba(124, 164, 255, 0.2);
        margin: 0 ;
        padding: 0 ;
        a{
            text-decoration: none;
        }
    }
 }

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-container{
    font-family: 'Lora';
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex ;
    padding-top: 5% ;
    padding-bottom: 5%;
}

.row {
    display: flex;
    justify-content: space-between; /* Ensure the columns are spaced on the left and right */
    width: 100%; /* Ensure the row spans the full width */
}

.company-name{
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 50px ;
}

.contact-info{
    text-align: center;    
    /* width: 35% !important; */
}

.map{
    padding-left: 100px ;
}

.labels-info{
    text-align: left;
}

.value-info{
    text-align: right;
}

.label-value{
    background-color: white;
    border-radius: 15px;
}

.row.label-value {
    width: 80%;
    margin: 0 auto;
}

.row.label-value .col {
    width: auto;
}

.row.label-value .col-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.map iframe{
    border-radius: 15px;
}

@media (max-width: 992px){
    .main-container{
        font-size: 14px;
    }

    .company-name{
        font-size: 32px;
    }
}