div.first-screen{
    height: calc(100vh - 50px);
    width: auto;
    background-image: url('images/pool2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-rows: 95%; 
}

div.first-screen-title{
    margin-left: auto;
    text-align: right;
    font-size: 5vw;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    div.capture{
        padding-top: 70px;
        display: block;
        height: auto;
        line-height: normal;
        div.title{
            font-weight: 700;
            z-index: 1;
        }

        div.subtitle{
            position: relative;
            top: -20px;
            font-weight: 400;
            z-index: 1; 
        }
    }    
}

div.see-more{
    color: white;
    font-weight: 600;
    margin: -50px auto 0 auto;
    div.arrow{
        animation: slideUpDown .7s ease-in-out infinite alternate;
    }
}


@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.container-3dmodel {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-3dmodel .title-3dmodel {
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    margin-bottom: 20px;
}

model-viewer {
    width: 100%;
    height: 500px;
}


.container-description{
    background: url('images/example-description.png') no-repeat center center;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: auto;
    justify-content: center;
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    transform: translateX(50%);
    background-color: #d0c3b2;
}

.row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 2%;
}

.col {
    padding: 10px;
}

.col img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.description-header{
    font-family: 'Lora';
    font-weight: 800;
    font-size: 32px;
}

.description-text{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 18px;
}