
header.header{
    height: 50px;
    transition: 0.3s ease;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);   
}
div.container.col-10.d-flex{
    padding: 0 15px;
    a{
        img{
            height: 50px;
            width: auto;
            align-self: center;
        }
        text.logo.lora{
            font-size: 26px;
            color: #50585A;
        }
    } 
    
} 
ul.nav{
    li.nav-item{
        a.nav-link.lora{
            width: fit-content;
            font-size: 12px;
            color: #8f9da1;
            font-weight: 600;
            transition: 0.6s;
        }
        a.nav-link.lora:hover{
            color: #50585A;
            transition: 0.6s ;

        }
    }
} 

select.langs{
    border: 1px solid #8f9da1;
    border-radius: 5px;
   

}
select:focus{
    border:1px solid #8f9da1;
}



svg.change-color{
    border: 1px solid #50585A;
    color: #50585A;
    border-radius: 3px;
    width: 135px;
    transition: .3s;
}

button.button-lang{
    border: 1px solid #50585A;
    color: #50585A;
    border-radius: 3px;
    background: #fff;
    width: 65px;
    transition: .3s;
}

button.change-color:hover, button.button-lang:hover{
    background: #8d9ca0;
    color: white;
    transition: .3s;
}

button.selected{
    background: #52595b;
    color: white;
}

:root.dark{
    body{
        header.header{
            background: rgba(0, 0, 0, 0.9);
            div.container.col-10.d-flex{
                a{
                    text.logo.lora{
                        color: #c2d9df;
                    }
                } 
                
            } 
            ul.nav{
                li.nav-item{
                    a.nav-link.lora{
                        color: #8f9da1;
                        transition: 0.6s;
                    }
                    a.nav-link.lora:hover{
                        color: #c2d9df;
                        transition: 0.6s ;
            
                    }
                }
            }
            ul.dropdown-menu{
                background: #000;
                li button.btn{
                    color: #c2d9df;
                }
                li select{
                    background: #000;
                    border: 1px solid #c2d9df;
                    border-radius:3px;
                    color: #c2d9df;
                }
            } 

            button.change-color{
                background: #000;
                border: 1px solid #c2d9df;
                color: #c2d9df;
                width: 135px;
                transition: .3s;
            }

            button.change-color:hover, button.button-lang:hover{
                background: #8d9ca0;
                color: white;
                transition: .3s;
            }
            
            button.button-lang{
                background: #000;
                border: 1px solid #c2d9df;
                color: #c2d9df;
                transition: .3s;
            }
            
            button.selected{
                background: #52595b;
                color: white;
            }

            select.langs{
                background: #000;
                transition: .4;
            }
        }
    }
}


