div.first-screen{
    height: calc(100vh - 50px);
    width: auto;
    background-image: url('images/pool2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-rows: 95%; 
}

div.first-screen-title{
    margin-left: auto;
    text-align: right;
    font-size: 5vw;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    div.capture{
        padding-top: 70px;
        display: block;
        height: auto;
        line-height: normal;
        div.title{
            font-weight: 700;
            z-index: 1;
        }

        div.subtitle{
            position: relative;
            top: -20px;
            font-weight: 400;
            z-index: 1; 
        }
    }    
}

div.see-more{
    color: white;
    font-weight: 600;
    margin: -50px auto 0 auto;
    div.arrow{
        animation: slideUpDown .7s ease-in-out infinite alternate;
    }
}


@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.container-3dmodel {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-3dmodel .title-3dmodel {
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    margin-bottom: 20px;
}

model-viewer {
    width: 100%;
    height: 500px;
}


.container-description{
    background: url('images/example-description.png') no-repeat center center;
    background-size: cover;
    background-position: center center;
    height: 150vh;
    width: auto;
    justify-content: center;
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    transform: translateX(50%);
    background-color: #d0c3b2;
}

.row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 2%;
}

.col {
    padding: 10px;
}

.col img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.description-header{
    font-family: 'Lora';
    font-weight: 800;
    font-size: 32px;
}

.description-text{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 18px;
}


div.third-screen{
    height: 100vh;
    padding-top: 5px; 
    }

div.third-screen-inner{
    padding: 0;
    height: calc(100vh - 5px);
    background: url('images/third-screen.jpg') ;
    /* background: url('images/steel.jpg'), linear-gradient(270deg, rgba(60, 83, 153, 0.5) 0%, rgba(159, 187, 194, 0.5) 49.9%, rgba(20, 28, 51, 0.5) 100%); */
    background-blend-mode: overlay; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

div.third-screen-inner-title{
    color: #fff;
    font-size: 3vw;                    
    height: 10vh;
    text-align: center;
    padding-top: 20px;
    margin-top: 90px;
}

div.third-screen-inner-line{
        background: rgb(80, 88, 90, 0.7);
        height: 560px;
        .carousel.third {
            margin: 25px 0 50px;
            height: 300px;
            background: none;
            position: relative;
            padding: 8px;
            img{
                border-radius: 7px;
                height: 90%;
                width: auto;
            }

            div.image-capture{
                position: relative;
                top: -50px;
                div.title-capt{
                    font-weight: 500;
                    font-size: 1.3vw;
                    color: #fff;
                    margin: 0 auto;
                    width: 521px;
                    background: #00000087;
                }

                div.subtitle-capt{
                    font-weight: 300;
                    font-size: .7vw;
                    color: #ffffff;
                }
            }            
        }

        .carousel:before, .carousel:after {
            z-index: -1; 
            position: absolute; 
            content: "";
            bottom: 15px;
            left: 10px;
            width: 50%; 
            top: 80%;
            max-width: 400px;
            background: rgba(0, 0, 0, 0.7); 
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
            transform: rotate(-3deg);
        }

        .carousel:after {
            transform: rotate(3deg);
            right: 10px;
            left: auto;
        }

        .carousel .carousel-item {	
            text-align: center;
            img{
                height: 320px;
                width: 521px;
            }
        }

        .carousel .carousel-item img {
            max-width: 100%;
            margin: 0 auto; 
        }

        .carousel-control-prev, .carousel-control-next {
            width: 27px;
            height: 74px;
            overflow: hidden;
            opacity: 1;
            margin-top: 310px;
            background: none;
            text-shadow: none;
            color: #b9b9b9;
            transition: .6s;
        }

        .carousel-control-prev span, .carousel-control-next span {
            width: 54px;
            height: 84px;
            display: inline-block;
            background: none;    
            
            box-shadow: 0 0 1px rgba(0,0,0,0.3);
        }

        .carousel-control-prev span {
            margin-right: -27px;
        }

        .carousel-control-next span {
            margin-left: -27px;
        }

        .carousel-control-prev:hover span, .carousel-control-next:hover span {
            color: #fff;
            transition: .3s;
        }

        .carousel-control-prev i, .carousel-control-next i {
            font-size: 3vw;
            margin-top: 33px;
        }

        .carousel-control-prev {
            margin-left: 178px;
        }

        .carousel-control-next {
            margin-right: 178px;
        }

        .carousel-control-prev i {
            margin-left: -24px;
        }

        .carousel-control-next i {
            margin-right: -24px;
        }

        .carousel-indicators {
            bottom: -92px;
        }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 30px;
            height: 3.5px;
            margin: 1px 4px;
        }

        .carousel-indicators li {
            border: 1px solid #475c6f;
            background: #fff;
            transition: .3s;
        }

        .carousel-indicators li.active {
            transition: .3s;
            background: #303536;
            border-color: #303536;
        }
}       