{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto|Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



    <!-- ANIMATION ON SCROLL -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'scss/style.scss' %}">
    
    <title>Diamant - Minipools</title>
    <title>Ultimate</title>
    <link rel="stylesheet" href="{% static 'css/pool.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>
<body>
    <header class="header sticky-top flex-wrap justify-content-center">
        <div class="container col-10 d-flex">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{% static 'images/image4.png' %}" alt="Diamant Logo" class="logo">
                <text class="logo lora">Beyond The Pool</text>
            </a>
    
            <ul class="nav d-flex align-items-center">
                <li class="nav-item"><a href="{% url 'basen' %}" class="nav-link lora">RODZAJE BASENÓW</a></li>
                <li class="nav-item"><a href="#" class="nav-link lora">GALERIA</a></li>
                <li class="nav-item"><a href="#" class="nav-link lora">PRZYKŁAD</a></li>
                <li class="nav-item"><a href="{% url 'about-us' %}" class="nav-link lora">O FIRMIE</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link lora">KONTAKT</a></li>
                
                <!-- Dropdown for USTAWIENIA -->
                <li class="nav-item dropdown">
                    <a class="nav-link lora dropdown-toggle" href="#" id="ustawieniaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        USTAWIENIA
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="ustawieniaDropdown">
                        <li><button class="btn change-color color btp-primary">DARK</button></li>
                        <li><a class="dropdown-item" href="#"><select name="lang" id="">
                            <option value="english">english</option>
                            <option value="polish">polish</option>
                        </select></a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    
    <main>
        <div class="first-screen d-grid">
            <div class="big-title container col-10 d-flex align-items-center">
                <div class="first-screen-title   col-10 ">
                    <div class="capture">
                        <div class="title">
                            Beyond the pool
                        </div>
                        <div class="subtitle">
                            Pokażemy ci, jak wygląda to, co tworzymy 
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="see-more">
                <div class="capture">
                    ZOBACZ WIĘCEJ
                </div>
                <div class="arrow d-block ">
                    <img src="{% static 'images/weui_arrow-filled.svg'%}" alt="" class="moving-image">
                </div>
            </div>

        </div>


        <div class="second-screen">
            <div class="second-screen-inner">
                <div class="second-screen-content">
                    <div  class="second-screen-content-circles container col-10">
                        <div div data-aos="fade-right"  class="circle-item col-3">
                            <div class="second-screen-content-circles-circle">
                                <img src="{%static 'images/mdi_like.svg'%}" alt="">
                            </div>
                            <div class="second-screen-content-circles-circle-capture">
                                GARANTUJEMY JAKOŚĆ
                            </div>
                        </div>
                        <div div data-aos="fade-right"  class="circle-item col-3">
                            <div class="second-screen-content-circles-circle">
                                <img src="{%static 'images/game-icons_podium-winner.svg'%}" alt="">
                            </div>
                            <div class="second-screen-content-circles-circle-capture">
                                JESTEŚMY NAJLEPSI W SWOIM REGIONIE
                            </div>
                        </div>
                        <div div data-aos="fade-left"  class="circle-item col-3">
                            <div class="second-screen-content-circles-circle">
                                <div class="nums" id="to_100">
                                    0
                                </div>
                            </div>
                            <div class="second-screen-content-circles-circle-capture">
                                ZREALIZOWANYCH ZLECEŃ
                            </div>
                        </div>
                        <div div data-aos="fade-left"  class="circle-item col-3">
                            <div class="second-screen-content-circles-circle">
                                <div class="nums" id="to_5">
                                    0
                                </div>                            
                            </div>
                            <div class="second-screen-content-circles-circle-capture">
                                LAT W TEJ SPRAWIE 
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="third-screen d-flex align-items-center">
            <div class="third-screen-inner col-12 d-block align-items-center">
                <div class="third-screen-inner-title  align-items-center lora ">PRZEŻYJ TEN PROCES Z NAMI</div>
                <div class="third-screen-inner-content">
                    <div class="third-screen-inner-line  col-12 ">
                        <div class="container-sm col-10">
                            <div class="row">
                                <div class="col-md-8 mx-auto">
                                    <div id="myCarousel" class="carousel slide third" data-ride="carousel">
                        
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                            <li data-target="#myCarousel" data-slide-to="4"></li>
                                        </ol>   
                                        
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="{%static 'images/proces1.png'%}" alt="">
                                                <div class="image-capture lora"><div class="title-capt">Cięcie i przygotowanie materiału</div><!--<div class="subtitle-capt">Coś robimy, coś bierzemy</div>--></div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{%static 'images/proces2.png'%}"  alt="">
                                                <div class="image-capture lora"><div class="title-capt">Gięcie i formowanie elementów</div><!--<div class="subtitle-capt">Coś robimy, coś bierzemy</div>--></div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{%static 'images/proces3.png'%}" alt="">
                                                <div class="image-capture lora"><div class="title-capt">Spawanie i łączenie elementów</div><!--<div class="subtitle-capt">Coś robimy, coś bierzemy</div>--></div>
                                            </div>	
                                            <div class="carousel-item">
                                                <img src="{%static 'images/proces4.png'%}" alt="">
                                                <div class="image-capture lora"><div class="title-capt">Obróbka wykończeniowa</div><!--<div class="subtitle-capt">Coś robimy, coś bierzemy</div>--></div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{%static 'images/proces5.png'%}" class="img" alt="">
                                                <div class="image-capture lora"><div class="title-capt">Montaż akcesoriów i finalne testy</div><!--<div class="subtitle-capt">Coś robimy, coś bierzemy</div>--></div>
                                            </div>					
                                        </div>
                                       
                                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                            <span><i class="fa fa-angle-left"></i></span>
                                        </a>
                                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                            <span><i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth-screen pt-1 ">
            <div id="carouselExampleIndicators" class=" carousel slide fourth" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner w-100">
                    <div class="carousel-item item_1 active">
                        <div class="carousel-item-inner d-flex align-items-center">
                            <div class="big-title container col-10 d-flex align-self-center align-items-center m-auto">
                                <div class="fourth-screen-title col-10">
                                    <div class="capture">
                                        <div class="title">
                                            Beyond the pool
                                        </div>
                                        <div class="subtitle">
                                            Baseny, które przekraczają oczekiwania
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="{% static 'images/image0_0.jpg' %}" class="d-block w-100" alt="...">
                    
                            
                            <div class="popup">
                                <div class="popup-content">
                                    <h3 lora>Dowiedż się więcej</h3>
                                    <p lora>Mamy najlepszy wybór basenów ze stali nierdzewnej. Przeprowadzamy cały proces od projektowania, do instalacji gotowego produktu w dowolnej miejscowości.</p>
                                    <a href="basen/"><button class="btn btn-primary">Więcej</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="carousel-item item_2 ">
                    <div class="carousel-item-inner d-flex align-items-center">
                        <div class="big-title container col-11 d-flex align-self-center align-items-center mx-auto ">
                            <div class="fourth-screen-title    col-10 ">
                                <div class="capture ">
                                    <div class="title">
                                        Beyond the pool
                                    </div>
                                    <div class="subtitle">
                                        Najlepszy twój wybór spośród innych wariantów
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'images/image1_.jpg'%}" class="d-block  w-100  " alt="..."> 
                    </div>
                    
                  </div>
                  <div class="carousel-item item_3 ">
                    <div class="carousel-item-inner d-flex align-items-center">
                        <div class="big-title container col-10 d-flex align-self-center align-items-center m-auto ">
                            <div class="fourth-screen-title   col-10 ">
                                <div class="capture">
                                    <div class="title">
                                        Beyond the pool
                                    </div>
                                    <div class="subtitle">
                                        Garantujemy jakość i elegancki wygląd
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'images/image1_0.jpg'%}" class="d-block  w-100  " alt="..."> 
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>

    </main>
    <footer class="footer lora">
        <div class="footer-inner container d-flex h-100">
            <div class="personal-info col-4 h-100 pt-4 d-block">
                <div class="location">
                    <div class="visible">
                        ŁÓDŹ
                    </div>
                    <div class="half-visible">
                        al. Politechniki 7
                        <p>93-590 ŁÓDŹ
                    </div>
                </div>
                <div class="name-surname">
                    <div class="visible">
                        Danylo Moskovchuk
                    </div>
                    <div class="half-visible">
                        +48 739 064 354
                        <p>danylomoskovchuk@gmail.com
                    </div>

                </div>

            </div>
            <div class="send-form container pt-4 col-5 h-100">
                <div class="form container">
                    <div class="form-title container visible">
                        NAPISZ DO NAS
                    </div>
                    <div class="inputs">
                        <input type="email" placeholder="Proszę wpisać email tutaj..." class="form-control border border-secondary rounded my-3">
                        <textarea id="enhancedTextarea" class="form-control w-100 my-3" rows="4" maxlength="200" placeholder="Proszę wpisać text tutaj..."></textarea>
                        <p id="enhancedCharCount">Pozostało 200 symbołów</p>
                    
                    </div>
                    <div class="button-send position-relative  w-100 d-flex pe-3" style="top:-10px;">
                        <button class="btn btn-primary me-auto ms-auto">WYŚLIJ</button>
                    </div>
                </div>
                
               

                
    
            </div>
            <div class="socials d-block lora pt-4 col-3 h-100">
                <div class="socials-title visible  w-100">Bądż na bieżąco</div>
                <div class="social my-1  d-flex align-items-center  container">
                    <div class="col-1"></div>
                    <div class="icon col-2">
                        <img  src="{%static 'images/linkedin.svg'%}" alt="">
                    </div>
                    <div class="capture col-6">
                        <a class="half-visible" href="">LinkedIn</a>
                    </div>
                </div>
                <div class="social my-1 d-flex align-items-center  container">
                    <div class="col-1"></div>
                    <div class="icon col-2">
                        <img src="{%static 'images/instagram.svg'%}" alt="">
                    </div>
                    <div class="capture col-6">
                        <a class="half-visible" href="">Instagram</a>
                    </div>
                </div>
                <div class="social my-1 d-flex align-items-center  container">
                    <div class="col-1"></div>
                    <div class="icon col-2">
                        <img src="{%static 'images/facebook.svg'%}" alt="">
                    </div>
                    <div class="capture col-6">
                        <a class="half-visible" href="">Facebook</a>
                    </div>
                </div>
                <div class="social my-2 d-flex align-items-center container">
                    <div class="col-1"></div>
                    <div class="icon col-2">
                        <img src="{%static 'images/youtube.svg'%}" alt="">
                    </div>
                    <div class="capture col-6">
                        <a class="half-visible" href="">YouTube</a>
                    </div>
                </div>
    
            </div>
        </div>
        

    </footer>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/velocity-animate@1.5.2/velocity.min.js"></script>
    <script>
        let bodyChange = document.querySelector('body'),
        headerChange = document.querySelector('header'),
        footerChange = document.querySelector('footer'),
        butChange = document.querySelector('.change-color');
        butChange.addEventListener('click', eve =>{
            if(eve){
                bodyChange.classList.toggle('dark');
                headerChange.classList.toggle('dark');
                footerChange.classList.toggle('dark');
            }
        }); 
        


        function countToHundred() {
            const counter = document.getElementById('to_100');
            const duration = 2000;
            const targetNumber = 100;
            const interval = 10;

            let currentNumber = 0;
            const increment = targetNumber / (duration / interval);

            const intervalId = setInterval(() => {
                currentNumber += increment; // Increment the number
                if (currentNumber >= targetNumber) {
                    currentNumber = targetNumber; // Ensure it stops exactly at 100
                    clearInterval(intervalId); // Stop the interval when the target is reached
                }
                counter.textContent = Math.floor(currentNumber); // Update the displayed number
            }, interval);
        }

        function countToFive() {
            const counter_5 = document.getElementById('to_5');
            const duration_5 = 2000; 
            const targetNumber_5 = 5;
            const interval_5 = 10;

            let currentNumber_5 = 0;
            const increment_5 = targetNumber_5 / (duration_5 / interval_5);

            const intervalId_5 = setInterval(() => {
                currentNumber_5 += increment_5;
                if (currentNumber_5 >= targetNumber_5) {
                    currentNumber_5 = targetNumber_5;
                    clearInterval(intervalId_5);
                }
                counter_5.textContent = Math.floor(currentNumber_5);
            }, interval_5);
        }
        function startCounting() {
            countToHundred();
            countToFive(); 
        }
        const countersSection = document.getElementById('to_100');
        const observer = new IntersectionObserver(
            (entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        startCounting();
                        observer.unobserve(countersSection);
                    }
                });
            },
            { threshold: 0.8 }
        );
        observer.observe(countersSection);

        



        // AOS

document.addEventListener('DOMContentLoaded', () => {
    AOS.init({
  duration: 800, // Длительность анимации (в миллисекундах)
  offset: 100, // Смещение (в пикселях) перед началом анимации
  easing: "ease-in-out", // Тип плавности (CSS transition easing)
  delay: 0, // Задержка (в миллисекундах)
  once: true, // Анимация происходит только один раз (если false — повторяется при каждом скролле)
});
  });











//   POP-UP



// Wait until the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function () {
    // Select elements
    const fourthScreenTitle = document.querySelector('.fourth-screen-title');
    const popup = document.querySelector('.popup');

    // Timer to trigger the popup
    setTimeout(() => {
        // Hide the first-screen-title
        if (fourthScreenTitle) {
            fourthScreenTitle.style.display = 'none';
        }

        // Show the popup with animation
        if (popup) {
            popup.classList.add('show');
        }
    }, 3000); // 5000ms = 5 seconds
});




// TEXTAREA



    const textarea = document.getElementById('enhancedTextarea');
    const charCount = document.getElementById('enhancedCharCount');

    textarea.addEventListener('input', () => {
        const remaining = 200 - textarea.value.length;
        charCount.textContent = `Pozostało ${remaining} symbołów`;
    });




    </script>
    <script src="{% static 'js/modernizr.custom.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    {% endblock %}
</body>
</html>